# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Webstorm project files
.idea

# OSX files
.DS_Store

# Coverage files
coverage

# Logs
*.log
